div.topdiv{
	margin-top:-20px;
	background-color: #232425;
	height: 80px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.topdiv p{
	color: white;
	background-color: #232425;
	font-size:20px;
	font-family: Trebuchet MS;
	text-align: center;
	width: 300px;
	padding: 28px;
}

div.btn{
	margin-left: 400px;
	margin-top: -70px;
	float:right;
	
}

div.btn a:link, div.btn a:visited{
	text-decoration:none;
	text-align:center;
	color: white;
	font-family: Agency FB;
	background-color: #232425;
	padding: 33px;
	margin-right: -2px;
}

div.btn a:hover{
	color: black;
	font-family: Agency FB;
	background-color: #bdc3c7;
}

p.contactme {
	font-family: Agency FB;
	font-size: 50px;
	text-align: center;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	background-color: white;
}

div.fb {
	width:300px;
	background-color:white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	float:left;
	margin-left: 100px;
}

div.fb img{
	width:300px;
	height:300px;
}

div.fb p{
	text-align:center;
	font-family:Agency FB;
	font-size:30px;
	padding:10px;
	border-top: 1px solid #7f8c8d;
	height:5px;
}

div.google {
	width:300px;
	background-color:white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-left:100px;
	float:left;
}

div.google img{
	width:300px;
	height:300px;
}

div.google p{
	text-align:center;
	font-family:Agency FB;
	font-size:30px;
	padding:10px;
	border-top: 1px solid #7f8c8d;
	height:5px;
}

div.number {
	width:300px;
	background-color:white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-left:900px;
}

div.nuber img{
	width:300px;
	height:300px;
}

div.number p{
	text-align:center;
	font-family:Agency FB;
	font-size:30px;
	padding:10px;
	border-top: 1px solid #7f8c8d;
}

a.fb_link{
	color:black;
}

div.bottomdiv{
	text-align: center;
	color: white;
	background-color: #232425;
	margin-top: 80px;
	padding: 28px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
