div.container{
	background-image:url(images/skills_bg.jpg);
	width:1340px;
	background-size: cover;
	margin:0 auto;
}


div.topdiv{
	margin-top:-20px;
	background-color: #232425;
	height: 80px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.topdiv p{
	color: white;
	background-color: #232425;
	font-size:20px;
	font-family: Trebuchet MS;
	text-align: center;
	width: 300px;
	padding: 28px;
}

div.btn{
	margin-left: 400px;
	float:right;
	margin-top: -70px;
	
}

div.btn a:link, div.btn a:visited{
	text-decoration:none;
	text-align:center;
	color: white;
	font-family: Agency FB;
	background-color: #232425;
	padding: 33px;
	margin-right: -2px;
}

div.btn a:hover{
	color: black;
	font-family: Agency FB;
	background-color: #bdc3c7;
}

p.myskills {
	font-family: Agency FB;
	font-size: 50px;
	text-align: center;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	background-color: white; 
}

div.body{
	margin-left: 30px;
	margin-top: 25px;
  	background-color: #ecf0f1;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 30px;
	width:900px;
	margin-left: 200px;
}

div.video_editing{
	background-color: #ffffff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 10px;
	width: 800px;
	height: 200px;
	margin-left: 40px;
}

div.video_editing img{
	width: 200px;
	height: 200px;
	float:left;
}

div.ve_txt{
	margin-left: 250px;
}

div.ve_txt h1{
	font-family: Agency FB;
}

div.ve_txt p{
	font-family: Agency FB;
	font-size: 18px;
}

/* -------------------------------- */

div.picture_editing{
	background-color: #ffffff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 10px;
	width: 800px;
	height: 200px;
	margin-left: 40px;
	margin-top: 30px;
}

div.picture_editing img{
	width: 200px;
	height: 200px;
	float:right;
}

div.pe_txt{
	width:400px;
	margin-left: 150px;
}

div.pe_txt h1{
	text-align: right;
	font-family: Agency FB;
}

div.pe_txt p{
	text-align: right;
	font-family: Agency FB;
	font-size: 18px;
}

/* -------------------------------- */

div.programming {
	background-color: #ffffff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 10px;
	width: 800px;
	height: 200px;
	margin-left: 40px;
	margin-top: 30px;
}

div.programming img{
	width: 200px;
	height: 200px;
	float:left;
}

div.prog_txt{
	margin-left: 258px;
}

div.prog_txt h1{
	font-family: Agency FB;
}

div.prog_txt p{
	font-family: Agency FB;
	font-size: 18px;
}

div.bottomdiv{
	text-align: center;
	color: white;
	background-color: #232425;
	margin-top: 30px;
	padding: 28px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
